.login-main-container {
  display: flex;
  height: 100vh;
}

.login-form {
  width: 30%;
  padding: 4%;
  background-color: #f0f4fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  text-align: center;
  font-family: "Chau Philomene One";
  font-size: 60px;
  font-weight: normal;
  color: #2485b5;
  margin: 0;
}

.login-form p {
  text-align: center;
  color: #888888;

  font-family: "Akshar";
  font-size: 20px;
  font-weight: normal;

  margin: 5% 0 5% 0; 
}


.login-input-container {
  width: 100%;
  margin: 2%;
}



.login-input-container label {
  display: block;
  margin-bottom: 2%;
  color: #333;

  font-family: "Akshar";
  font-size: 20px;
  font-weight: normal;
  color: #000000;
}

.input-icon-container {
  display: flex; /* Hace que el input y el ícono estén en línea */
  align-items: center; /* Centra verticalmente */
  position: relative; /* Para permitir la posición absoluta del ícono */
  
}

.input-icon-container input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;

}

.input-icon-container input:focus {
  border: 1px solid #9e9e9e;
}


.login-input-icon {
  width: 5%;
  position: absolute; /* Coloca el ícono sobre el input */
  right: 10px; /* Espacio desde el lado derecho del input */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}

/*-------------------------------*/
.login-button {
  height: 6%;
  width: 80%;
  margin-top: 20px;

  color: white;
  background-color: #316c8c;
  
  cursor: pointer;
  font-family: "Akshar";
  font-weight: normal;
  font-size: 20px;

  border: none;
  border-radius: 50px 50px 20px 20px; /* Bordes redondeados */
}

.login-button:hover {
  background-color: #254b61;
}

/*------------------------------------------------*/

.login-register-link {
  font-size: 18px;
  font-family: "Chau Philomene One";
  font-weight: normal;
  color: #888888;

  margin-top: 5%;
}

.login-register-link a {
  color: #316c8c;
  text-decoration: none;
}

.login-register-link a:hover {
  text-decoration: underline;
}
/*======================================================================*/
.login-fondo {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
}

.login-fondo h2 {
  font-size: 70px;
  font-family: "Chau Philomene One";
  color: #2485b5;
  margin: 0;
}

.login-fondo p {
  font-size: 20px;
  font-family: "Akshar";
  color: #6e6e6e;
  text-align: center;
  margin: 0;
}

.login-fondo img {
  width: 80%;
}
