.main-entrada {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("/src/assets/images/Entry.webp");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center; /* Centra la imagen */
  align-items: center;
  background-color: #FEFEFE;
}

.main-entrada h1 {
  padding-top: 5%;
  font-family: "Chau Philomene One";
  font-size: 70px;
  font-weight: regular;
  color: #2485b5;
  margin: 0px;
}
.main-entrada pre {
  font-family: "Akshar";
  margin: 0px;
  font-size: 20px;
  color: #6e6e6e;
  text-align: center;
}
/*---------------------------------------*/
.nueva-entrada {
  display: flex; /* Agrega esta propiedad */
  flex-direction: column;
  width: 30%;
  height: 50%;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: start;
}

h2 {
  font-family: "Chau Philomene One";
  font-size: 36px;
  font-weight: regular;
  color: #2485b5;
  margin-top: 10px;
}

.nueva-entrada form {
  margin: 0 10% 0 10%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin: 3% 0 3% 0;
}

.form-row .form-group {
  width: 38%;
}

label {
  font-family: "Akshar";
  font-weight: regular;
  font-size: 20px;
  color: #050505;
  display: block;
}

input,
select {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #efefef;
  border-radius: 20px;
  background-color: #efefef;
  box-sizing: border-box;
  outline: none;
}


select {
  appearance: none; /* Oculta el selector nativo*/
  background-image: url("/src/assets/icons/Arrow.svg"); /* Agrega la flecha */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: right 10px center; /* Posición de la flecha */
  background-size: 40px; /* Tamaño de la flecha*/
  padding-right: 40px; /* Espacio para la flecha*/
  -webkit-appearance: none; /* Para Safari */
  -moz-appearance: none; /* Para Firefox*/
}

input:focus {
  border: 1px solid #9e9e9e;
}
select:focus {
  border: 1px solid #9e9e9e;
}

input::placeholder {
  color: #ccc;
}

#color{
  background-image: url("/src/assets/icons/CarColor.svg"); /* Agrega la flecha */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: right 10px center; /* Posición de la flecha */
  background-size: 30px; /* Tamaño de la flecha*/
  padding-right: 30px; /* Espacio para la flecha*/
}

#modelo{
  background-image: url("/src/assets/icons/CarModel.svg"); /* Agrega la flecha */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: right 10px center; /* Posición de la flecha */
  background-size: 40px; /* Tamaño de la flecha*/
  padding-right: 40px; /* Espacio para la flecha*/
}

/*===================================*/
.registrar-btn {
  margin-top: 10%;
  width: 40%;
  height: 15%;
  background-color: #2485b5;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: regular;
  font-size: 20px;
  text-align: center;
  font-family: 'Akshar';
  border-radius: 50px 50px 20px 20px; /* Bordes redondeados */
}

.registrar-btn:hover {
  background-color: #1c709b;
}

.action-icon {
  margin: 5px 5px 0 0;
  width: 30%;
}